<div class="panel panel-primary">
  <div class="panel-heading">工单列表</div>
  <div class="js-issues">
    <%= render partial: 'table', locals: {issues: @issues} %>
  </div>
</div>
<h2>新增一个工单</h2>
<div class="col-xs-12">
  <%= render partial: 'form', locals: {issue: @issue} %>
</div>