<div class="panel panel-primary">
  <div class="panel-heading">工单列表</div>
  <div id="js-issues">
    <%= render partial: 'table', locals: {issues: @issues} %>
  </div>
</div>

<div class="col-xs-6">
  <h2>新增一个工单</h2>
  <%= render partial: 'form', locals: {issue: @issue} %>
</div>