<h3 class="text-center">学生列表</h3>
<div class="large-12 large-centered columns container">
  <div class="js-student">
    <%= render partial: 'table', locals: {students: @students} %>
  </div>
  <div class="small-6 small-centered columns container">
    <h4>新增学生</h4>
  </div>
</div>