<div class="panel panel-primary">
  <div class="panel-heading">学生列表</div>
  <div id="js-student">
    <%= render partial: 'table', locals: {students: @students} %>
  </div>
</div>
<h2>新增一个学生</h2>
<div class="col-xs-12">
  <%= render partial: 'form', locals: {student: Student.new} %>
</div>
