<h3 class="text-center">成员列表</h3>
<div class="large-12 large-centered columns container">
  <div id="js-team-member">
    <%= render(partial: 'table', locals: {team_members: @team_members}) %>
  </div>
  <div class="small-6 small-centered columns container">
    <h4>新增成员</h4>
    <%= render 'form' %>
  </div>
</div>