<div id="navbar" class="navbar navbar-default">
  <div id="navbar-container" class="navbar-container">

    <!-- toggle buttons are here or inside brand container -->

    <div class="navbar-header pull-left">
      <a href="#" class="navbar-brand">
        <small>
          <i class="fa fa-cloud"></i>
          Seagull Platform
        </small>
      </a>
    </div>
    <!-- /.navbar-header -->


    <div class="navbar-buttons navbar-header pull-right ">
      <ul class="nav ace-nav">
        <li class="light-blue">
          <a data-toggle="dropdown" href="#" class="dropdown-toggle" aria-expanded="false">
            <%= image_tag('avatar2.png', {class: 'nav-user-photo'}) %>
            <span class="user-info">
									<small>Welcome,</small>
              <%= get_member.first_name %>
            </span>
            <i class="ace-icon fa fa-caret-down"></i>
          </a>
          <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
            <li><a href="#">个人信息</a></li>
            <li><a href="#">账户管理</a></li>
            <li class="divider"></li>
            <li><%= link_to('退出登录', destroy_user_session_path, :method => :delete) %></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-buttons -->


    <nav class="navbar-menu pull-left">
      <!-- optional menu & form inside navbar -->
    </nav>
    <!-- /.navbar-menu -->

  </div>
  <!-- /.navbar-container -->
</div><!-- /.navbar -->